.container {
    background-color: var(--third-color);
    /* background: url('../css/images/footer-background.png') no-repeat center / cover; */
    display: flex;
    justify-content: center;
    min-height: 450px;
    flex-wrap: wrap;
}

.footer-elements {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.footer-line {
    height: 40px;
    width: 3px;
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    margin: 15px;
}

.footer-text {
    color: var(--white);
    font-family: 'futurist';
    font-size: 0.8rem;
    padding: 12px;
}