:root {
  --main-color: #CDA27F;
  --second-color: #A77B5E;
  --third-color: hsl(72, 5%, 19%);
  --white: #FFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "futurist";
  src: url("./fonts/futurist.TTF");
  src: url("./fonts/futurist.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "butler-light";
  src: url("./fonts/butler-light.woff");
  src: url("./fonts/butler-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "butler-bold";
  src: url("./fonts/butler-bold.woff");
  src: url("./fonts/butler-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* # Other Section */

div.products-section {
  text-align: center;
  background-color: white;
  color: #31322D;
}
