:root {
  --main-color: #CDA27F;
  --second-color: #A77B5E;
  --third-color: #31322D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "futurist";
  src: url("./fonts/futrfw.TTF");
  src: url("./fonts/futrfw.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* # Other Section */

div.products-section {
  text-align: center;
  background-color: #528E98;
  color: #31322D;
}
